body {
  font-family: 'Crimson Text', serif;
  background-color: rgb(215, 216, 211);
}

h1 {
  font-family: 'Satisfy', cursive;
  /*margin-top: -12px;*/
  text-align: left;
  font-size: 130px;
  color: #1fc9d4;
  text-shadow: 0px 15px 4px rgba(34,62,66,.75);
  /*background-image: url("http://www.themesltd.com/headers2/shoes_and_heels.png");*/
  background-image: url("http://i.imgur.com/Pb7PoHr.jpg");
  background-size: cover;
  height: 183px;
  background-repeat: no-repeat;
  margin: 0;
}

h2 {
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  margin-top: 12px;
}

h3 {
  font-family: 'Satisfy', cursive;
  font-size: 25px;
}

h4 {
  font-family: 'Satisfy', cursive;
  font-size: 25px;
}

h5 {
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  text-align: left;
  margin-left: 10em;
}

h6 {
  font-family: 'Satisfy', cursive;
  font-size: 25px;
}

p {
  font-family: 'Satisfy', cursive;
  font-size: 25px;
}

#dataOutput {
  /*display: inline-block;*/
  margin-top: 2em;
  font-family: 'Satisfy', cursive;
  font-size: 20px;
  text-align: center;
  margin-left: 2.5em;
}

#searchButton {
  font-family: 'Satisfy', cursive;
  font-size: 20px;
  background: #1fc9d4;
  margin-top: 1em;
  text-align: center;
  /*margin-left: 2.5em;*/
}

#addbutton {
  font-family: 'Satisfy', cursive;
  font-size: 20px;
  background: #1fc9d4;
}

#addStockButton {
  font-family: 'Satisfy', cursive;
  font-size: 20px;
  background: #1fc9d4;
}

#data {
  margin-left: 3em;
  text-align: center;
}

.dropdown {
  font-family: 'Satisfy', cursive;
  font-size: 20px;
  padding: 0 10px 0 10px;
}

.dropdown option {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  font-family: 'Satisfy', cursive;
  font-size: 20px;
  color: black;
  background-color: rgba(31, 201, 212, 0.36);
}

.dropdown:hover {
  background-color: rgba(31, 201, 212, 0.36);
}

#fillForm {
  font-family: 'Satisfy', cursive;
  margin: auto;
  background-color: white;
  display: inline-flex;
  font-size: 25px;
}

/*.pageBottom div {
  background-image: url("http://i.imgur.com/bOfdSUZ.jpg");
  background-size: cover;
}*/
